* {
  box-sizing: border-box;
  margin: 0;
  animation-duration: 1s;
  color: rgb(233, 233, 240);
}
html,body {
  height:100vh;
  width:100vw;
}
div.section#home {
  background: url('wave-haikei.svg');
  background-size:cover;
}
div.section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: #0c0d11;
  padding:100px 10px;
  width:100vw;
  margin:0;
  border-bottom: 1px solid #333;
}
.logo-wrap .logo {
  height: 200px;
}

.section.discord {
  background: #576fc5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.527);
}

.arrow-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}
.arrow-wrap #goDown {
  position: absolute;
  z-index: 60;
  bottom: 130px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg) scale(5);
  border: solid white;
  border-width: 0 1px 1px 0;
  padding: 3px;
  animation: arrow 4s infinite;
}

div.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

footer {
  height: 80px;
  background-color: #333;

  bottom: 0;
  z-index: 1;
  right: 0;
  left: 0;
  padding: 20px;
  padding-top: 30px;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer div p {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

@keyframes arrow {
  0% {
    bottom: 140px;
  }
  15% {
    bottom: 150px;
  }
  30% {
    bottom: 140px;
  }
  45% {
    bottom: 150px;
  }
  60% {
    bottom: 140px;
  }
}

@keyframes heroload {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 700px) {
  div.section .logo-about {
    height: 200px;
  }

  div.section {
    flex-direction: column;
  }
  div.section div {width:80%}

  nav {
    display: none;
  }

  .nav-toggle {
    display: block;
    animation: navload 1s;
  }

  .nav-mobile {
    display: block;
  }

  main .logo-about {
    height: 300px;
  }
}

/* tooltips */
.tooltip {
  position: relative;
  cursor: pointer;
}
.tooltip:before,
.tooltip:after {
  line-height: 1;
  font-size: .9em;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}
.tooltip:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}
.tooltip:after {
  content: 'Donations are welcome but aren\'t expected. All donations go towards better stream gear and giveaways.';
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 12px 12px;
  border-radius: 3px;
  background: #4621FF;
  color: #FFFFFF;
  z-index: 99;
}
.tooltip:hover:before,
.tooltip:hover:after {
  display: block;
  opacity: 1;
}




/************ EXPERIENCE PAGE ************/

.section#experience {
    flex-direction:column;
}
.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    max-height: 150px;
    height: 150px;
    width:460px;
    text-align: center;
    cursor: pointer;
    background: rgba(255,255,255,0.3);
    border-radius: 30px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin: 5px;
}

.grid figure figcaption {

    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid figure img {
    position: relative;
    display: block;
    transform:scale(1);
    opacity: 0.8;
    /*filter: blur(24px)*/
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 10;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

figure img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure figcaption {
    text-align: left;
}

figure figcaption > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    width: 100%;
    height: 100%;
}

figure h2,
figure p {
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
    margin:0;
}

figure h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: 0.35s;
}

figure p {
    color: rgba(255,255,255,1);
    opacity: 0;
    font-weight:600;
    font-size:30px;
    transition-duration: 0.35s;
}

figure:hover img,
figure:hover p {
    opacity: 1;
}

figure:hover h2,
figure:hover p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figure:hover img {
    transform: scale(0.8)
}

figure:hover h2 {
    opacity:0.5;
    text-shadow: 0 0 10px black;
}
